*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  position: relative;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  margin-left: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2px;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 2px;
}

.search-form__label {
  width: fit-content;
  display: inline-block;
  cursor: pointer;
  margin-right: 12px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__textfield:active) {
  outline: none;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
}

.search-form__label-text {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  display: flex;
  width: 225px;
  align-items: center;
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  appearance: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: 0;
  border-right: 0;
  background-color: #1b1919;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.search-form__checkbox + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  outline: 1px solid white;
  outline-offset: 2px;
  margin: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: #FFF;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  cursor: pointer;
  margin-top: auto;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.button:focus {
  outline: none;
}

.more-button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  height: 534px;
}

.title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; 
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__list {
  overflow-y: auto;
  position: relative;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  color: #FFF;
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__card-link_current {
  background: #545050;
  padding: 2px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  
}

.content__video-card-title {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; 
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
}

.more-button {
  min-width: 100%;
  height: 34px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}
